dash
dash-cytoscape
requests
flask
retrying
ipython
ipykernel
ansi2html
notebook==6.1.5
jupyter_server_proxy
pandas
numpy
jupyter-dash
beautifulsoup4
lxml
-e git+https://github.com/ecell/kegg2cyjs.git#egg=kegg2cyjs-0.0.1
-e git+https://github.com/ecell/dash-pathway.git#egg=dash-pathway-0.0.1
